@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

div {
  padding: 1rem;
  margin: 1rem;
}

.center-text {
  text-align: center;
}

.center-block {
  margin: 0 auto;
  width: 450px;
}

.big-text {
  font-size: 100px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 20px;
}